NEXT_PUBLIC_FIREBASE_API_KEY=xx
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=xx
NEXT_PUBLIC_FIREBASE_DB_URL=xx
NEXT_PUBLIC_FIREBASE_PROJECT_ID=xxx
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=xxx
NEXT_PUBLIC_FIREBASE_MSG_SENDER_ID=xxx
NEXT_PUBLIC_FIREBASE_APP_ID=xxx
NEXT_PUBLIC_ALIAS=xxx